<?xml version="1.0" encoding="UTF-8"?>
<!-- Usage: -Dlogback.configurationFile=/path/to/logback.xml -->
<configuration
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="logback.xsd">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%level] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>target/logs/Rolling.log</file>
		<append>false</append>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread]\t%-5level %logger\t%msg%n</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>target/logs/Rolling.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>2MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="java"		level="INFO"/>
	<logger name="javax"	level="INFO"/>
	<logger name="com"		level="INFO"/>
	<logger name="edu"		level="INFO"/>
	<logger name="net"		level="INFO"/>
	<logger name="org"		level="INFO"/>
	<logger name="sun"		level="INFO"/>

	<logger name="jndi"		level="TRACE"/>

	<root level="TRACE">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>
<!-- vi:set tabstop=4 hardtabs=4 shiftwidth=4: -->
